<div class="col-lg-4">
  <h1>{{title}}</h1>
  <div class="sidebar-admin" data-example-id="sample-nav-staked">
    <ul class="nav nav-pills nav-staked nav-pills-staked-example">
      <li role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['list']"> Listado </a>
      </li>
      <li role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['add']"> Crear </a>
      </li>
      <li role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['list']"> Informacion </a>
      </li>
    </ul>
  </div>
</div>
<div class="col-lg-8">
    <router-outlet></router-outlet>
</div>

