<div class="col-lg-8 col-lg-offset-2">
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <p>Disfruta de los animales mas exoticos de nuestro zoologico</p>
      <p>
        <a class="btn btn-primary btn-lg" [routerLink]="['/animals']"  style="margin-right: 5px" >
          Ver Animales
        </a>
        <a class="btn btn-success btn-lg" [routerLink]="['/keeper']" style="margin-right: 5px">
          Ver Cuidadores
        </a>
        <a class="btn btn-warning btn-lg" [routerLink]="['/contact']" style="margin-right: 5px">
          Contacta Con Nosotros
        </a>
      </p>
  </div>
</div>

