
<h3>utilizar jquery dentro de angular</h3>
<button  id="botonjq"> Mostrar Texto</button>
<p id="textojq" class="alert alert-warning">
    Includes over 250 glyphs in font format from the Glyphicon Halflings set.
    Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
    As a thank you, we only ask that you include a link back to Glyphicons whenever possible.
</p>

<div id="caja" style="width: 150px; height: 50px; border: 1px solid black">
    Includes over 250 glyphs in font format from the Glyphicon Halflings set.
    Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost.
    As a thank you, we only ask that you include a link back to Glyphicons whenever possible.
</div>
<hr>


<p>
  tienda works!
</p>
<hr>
<br>
<p>Del Hijo Al Padre</p>
  <ul *ngIf="miParque">
    <li>{{miParque.nombre}}</li>
    <li>{{miParque.metros}}</li>
    <li>{{miParque.vegetacion}}</li>
    <li>{{miParque.abierto}}</li>
  </ul>

<hr>
<p>Del Padre Al Hijo</p>
<p>Nombre del parque</p>
<input type="text" [(ngModel)] = "nombreParque" (keyup.enter)="mostrarNombre()"/>
<p>Resultado: </p>
<p>{{nombreParque}}</p>



<p *ngIf="nombreParque">
<parques [nombre]="nombreParque"
          (pasameLosDatos)="verDatosParque($event)"

    ></parques>
</p>