<div class="col-lg-6">
  <h1>{{title}}</h1>
  <div class="alert alert-success" *ngIf="alert">
        {{status}}
      </div>
      <div class="alert alert-danger" *ngIf="alert==false">
        {{status}}
      </div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-7">
    <p>
      <label>Correo Electronico</label>
      <input type="email" #email="ngModel" [(ngModel)]="user.email" name="email" class="form-control" id="" required>
      <span *ngIf="!email.valid && email.touched">
          El email es obligatorio!!
      </span>
    </p>
    <p>
      <label>Contraseña</label>
      <input type="password" #password="ngModel" [(ngModel)]="user.password" name="password" class="form-control" required>
      <span *ngIf="!password.valid && password.touched">
        La contraseña es obligatoria!!
      </span>
    </p>
    <input type="submit" value="Ingresar" class="btn btn-success">
  </form>
</div>
